<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="~{ fragments :: bootstrap}">
    <title>Pizzas Create</title>
</head>

<body>

    <link th:replace="~{ fragments :: navbar}">


    <div class="container mt-3 p-2">

        <h1 class="text-center">Create a new Pizza</h1>

        <form id="pizza-form" th:action="@{/pizzas/create}" method="post" th:object="${pizza}">
            <div class="mb-3">
                <label class="form-label" for="name">Name : </label>
                <input class="form-control" type="text" id="name" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description : </label>
                <textarea class="form-control" id="description" th:field="*{description}"
                    th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="photoUrl">Image Url : </label>
                <input class="form-control" type="text" id="photoUrl" th:field="*{photoUrl}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('photoUrl')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('photoUrl')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price : </label>
                <input class="form-control" type="number" id="price" th:field="*{price}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <p>Ingredients : </p>
                <div class="form-check px-3" th:each="ingredient : ${ingredients}">
                    <input type="checkbox" th:id="|ingredient-${ingredient.id}|" th:field="${pizza.ingredients}"
                        th:value="${ingredient.id}">
                    <label class=" form-label" for="|ingredient-${ingredient.id}|">[[${ingredient.name}]]</label>
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <input type="submit" class="btn btn-dark" value="Submit pizza">
                <input type="reset" class="btn btn-danger" value="Reset fields">
            </div>
        </form>
    </div>
</body>
<link th:replace="~{ fragments :: scripts}">

</html>